@using meuprojeto_web.Helpers
@using meuprojeto_web.Extensions
@model meuprojeto_web.Comandos.Saida.ProdutoSaida

@{
    var cadastro = Model == null || Model?.Id == null;
    var valueStatus = Model?.Ativo.HasValue == true ? "S" : "N";
    var status = Model?.Ativo == true ? "Ativo" : "Inativo";
}

<div class="modal-block modal-block-primary app-modal-md modal-header-color">
    <section class="panel">
        <header class="panel-heading" style="background-color: #035785;">
            <h2 class="panel-title">@(cadastro ? "Cadastrar" : "Alterar")</h2>
        </header>
        <div class="panel-body">
            <input type="hidden" id="iId" value="@Model?.Id" />
            <form id="form-manter-produto" class="form-group" style="margin-bottom:0;">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="control-label">Descrição</label> @CustomHtmlHelper.IconeCampoObrigatorio("iDescricaoFornecedor")
                        <input id="iDescricaoFornecedor" name="iDescricaoFornecedor" class="form-control" value="@Model?.Descricao" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group datapicker" style="z-index: 19001;">
                            <label class="control-label">Fabricação</label> @CustomHtmlHelper.IconeCampoObrigatorio("iDataFabricacao")
                            <div class="input-group flex-nowrap date" data-provide="datepicker">
                                <input class="form-control" placeholder="" id="iDataFabricacao" name="iDataFabricacao" value="@Model?.DataFabricacao">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping"><i class="nav-icon fas fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group datapicker" style="z-index: 19001;">
                            <label class="control-label">Validade</label> @CustomHtmlHelper.IconeCampoObrigatorio("iDataValidade")
                            <div class="input-group flex-nowrap date" data-provide="datepicker">
                                <input class="form-control" placeholder="" id="iDataValidade" name="iDataValidade" value="@Model?.DataValidade">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping"><i class="nav-icon fas fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label class="control-label">Fornecedor</label> @CustomHtmlHelper.IconeCampoObrigatorio("iFornecedorId")
                        <input type="text" class="form-control somenteNumero" id="iFornecedorId" name="iFornecedorId" value="@Model?.FornecedorId" />
                    </div>
                    @if (!cadastro)
                    {
                        <div class="col-sm-6 form-group">
                            <label class="control-label">Status</label> @CustomHtmlHelper.IconeCampoObrigatorio("sStatus")
                            <select id="sStatus" name="sStatus" class="form-control" style="width:100%;">
                                <option value="@if(!cadastro){
                            @valueStatus
}" selected>
                                    @if (!cadastro)
                                    {
                                        @status
                                    }
                                </option>
                                <option value="S" value-option="True" value-property="@Model?.Ativo.ToString()">Ativo</option>
                                <option value="N" value-option="False" value-property="@Model?.Ativo.ToString()">Inativo</option>
                            </select>
                        </div>
                    }
                </div>
            </form>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-12 text-right">
                    <button class="btn btn-sm btn-default btn-fechar">
                        <i class="fa fa-times mr-xs"></i> Fechar
                    </button>
                    <button class="btn btn-sm btn-primary" id="btn-salvar">
                        <i class="fa fa-save mr-xs"></i> Salvar
                    </button>
                </div>
            </div>
        </footer>
    </section>
</div>